
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyLeave</title>
</head>
<body>
    <div> 
        <input type="button" name="button" class="button1" value="Insert" />
        <input type="text" name="text" class="text1" value="Student ID" />
        
        <label>Location:</label><br />
            <asp:DropDownList ID="Location" runat="server" Width="200px">
            <asp:ListItem Text="Casuarina" Value="1"></asp:ListItem>
            <asp:ListItem Text="Palmerston" Value="2"></asp:ListItem>
        </asp:DropDownList>


    </div>
</body>
</html>
