@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Traditional Asian Dress</h1>
    <p class="lead">get various asian dress here</p>
   
</div>

<div class="row">
    <div class="col-md-3">
               <p class="lead">Categories</p>
        <div class="list-group">
            <a class="list-group-item welcome active" href="#">All</a>
          </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="list-group-item category accordion-toggle collapsed" data-toggle="collapse" href="#collapse1"> Nepali</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <ul class="list-group">
                        <a class="list-group-item tree1window1" href="#">Somedress name</a>
                        <a class="list-group-item tree1window2" href="#">some dress name</a>
                        <a class="list-group-item tree1window3" href="#">some dress name</a>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="list-group-item category accordion-toggle collapsed" data-toggle="collapse" href="#collapse2"> Indian</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <a class="list-group-item tree1window1" href="#">Somedress name</a>
                            <a class="list-group-item tree1window2" href="#">some dress name</a>
                            <a class="list-group-item tree1window3" href="#">some dress name</a>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="list-group-item category accordion-toggle collapsed" data-toggle="collapse" href="#collapse3"> Chinese</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <a class="list-group-item tree1window1" href="#">Somedress name</a>
                            <a class="list-group-item tree1window2" href="#">some dress name</a>
                            <a class="list-group-item tree1window2" href="#">some dress name</a>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="list-group-item category accordion-toggle collapsed" data-toggle="collapse" href="#collapse4"> Bhutanese</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <a class="list-group-item tree1window1" href="#">Somedress name</a>
                            <a class="list-group-item tree1window2" href="#">some dress name</a>
                            <a class="list-group-item tree1window2" href="#">some dress name</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
   
    <div class="col-md-9">
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1primary">
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" height="100" width="100" src="http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder-300x300.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">APILARNILUL</h4>
                                <p class="text">By Francisco</p>
                                <p>
                                    Apilarnilul este un produs apicol natural, obținut din larvele de
                                    trântor care constituie materia primă principală. Acestea la vârsta de
                                    7 zile sunt recoltate integral obținându-se astfel apilarnilul.În mod
                                  
                                </p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 1 days, 8 hours </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                                
                                </ul>
                            </div>
                        </div>
                        </div>

                        <div class="well">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object" height="100" width="100" src="http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder-300x300.png">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">APILARNILUL</h4>
                                    <p class="text">By Francisco</p>
                                    <p>
                                        Apilarnilul este un produs apicol natural, obținut din larvele de
                                        trântor care constituie materia primă principală. Acestea la vârsta de
                                        7 zile sunt recoltate integral obținându-se astfel apilarnilul.În mod
                                                                        </p>
                                    <ul class="list-inline list-unstyled">
                                        <li><span><i class="glyphicon glyphicon-calendar"></i> 1 days, 8 hours </span></li>
                                        <li>|</li>
                                        <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" height="100" width="100" src="http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder-300x300.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">APILARNILUL</h4>
                                <p class="text">By Francisco</p>
                                <p>
                                    Apilarnilul este un produs apicol natural, obținut din larvele de
                                    trântor care constituie materia primă principală. Acestea la vârsta de
                                    7 zile sunt recoltate integral obținându-se astfel apilarnilul.În mod
                                </p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 1 days, 8 hours </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>

