
@{
    ViewBag.Title = "Item";
}
<link href="~/Content/item.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-12">
                    <div class="product col-md-3 service-image-left">

                        <center>
                            <img id="item-display" src="https://gloimg.drlcdn.com/L/pdm-product-pic/Clothing/2016/10/15/source-img/20161015092246_60853.jpg" alt=""></img>
                        </center>
                    </div>

                    <div class="container service1-items col-sm-2 col-md-2 pull-left">
                        <center>
                            <a id="item-1" class="service1-item">
                                <img src="https://i.pinimg.com/736x/e3/e3/b8/e3e3b805e30f9b71ba6434909849eb80--hoco-dresses-a-line-dresses.jpg" alt=""></img>
                            </a>
                            <a id="item-2" class="service1-item">
                                <img src="https://cdn.forevernew.com.au/media/catalog/product/cache/1/back_image/333x440/9df78eab33525d08d6e5fb8d27136e95/2/4/24804401.jpg" alt=""></img>
                            </a>
                            <a id="item-3" class="service1-item">
                                <img src="https://i.pinimg.com/736x/e3/e3/b8/e3e3b805e30f9b71ba6434909849eb80--hoco-dresses-a-line-dresses.jpg" alt=""></img>
                            </a>
                        </center>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="product-title">A dress name</div>
                    <div class="product-desc">product desc here</div>
                    <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                    <hr>
                    <div class="product-price">$ 1 million</div>
                    <div class="product-stock">In Stock</div>
                    <hr>
                    <div class="btn-group cart">
                        <button type="button" class="btn btn-success">
                            Add to cart
                        </button>
                    </div>
                    <div class="btn-group wishlist">
                        <button type="button" class="btn btn-danger">
                            Add to wishlist
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">

                    <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                    <li><a href="#reviews" data-toggle="tab">REVIEWS</a></li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">

                        <section class="container product-info">
                            dress info here
                        </section>

                    </div>
                    
                    <div class="tab-pane fade" id="reviews">
                        <section>
                            <textarea rows="4" cols="100" placeholder=" Enter your comment here"></textarea>
                            <input type="button" value="Comment" class="btn-success" />
                        </section>

                    </div>
                </div>
                <hr>
            </div>
        </div>
        </div>
    </div>


