@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Traditional Asian Dress</h1>
    <p class="lead">get various asian dress here</p>
   
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Categories</h2>
      <li> nepali</li>
        <li> indian</li>
        <li> Chinese</li>
      
      
    </div>
    <div class="col-md-9">
        this will contain the body of the webpage ..will show all the available dresses
    </div>
    
</div>